
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;600&display=swap');


:root{

    /* Fontes */

 --fonte-principal:  "Poppins", sans-serif;
 --fonte-secundaria: "Montserrat", sans-serif;

    /* Paleta de cores */

    --cor0: #CB6CE6;
    --cor1: #5079F2;
    --cor2: #F28585;
    --cor3: white;
    --cor4: black;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/*Configurações do corpo da página*/

body{
   background-color: #e6aeae;
}

/* Section - banner */

.banner{
    width: 100px;
}
   

