/* ESTILO GERAL*/
@charset "UTF-8";

@font-face {
    font-family:'Roboto-Light';
    src: url('Fontes/Roboto-Light.ttf') format('opentype');
    font-weight: normal;
    
}

@font-face {
    font-family:'Roboto-Regular';
    src:url('Fontes/Roboto-Regular.ttf') format('opentype');
    font-weight: normal;
    
}


:root{

    --cor0: #CB6CE6;
    --cor1: #5079F2;
    --cor2: #F28585;
    --cor3: white;
    --cor4: black;

    --fonte-principal: Arial, Verdana, Helvetica, sans-serif;
    --fonte-padrao: Roboto-Light;
    --fonte-destaque: Roboto-Regular;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONFIGURAÇÃO CABEÇALHO */

.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: white;
    width: 100%;
    padding: 10px;
}

.logo, .sociais{
    width: 50%;
}

.logo img{
    width: 300px;
    
}

.menu {
    width: 50%;
    
    
}

.menu nav a {
    color: #5079F2;
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    font-family:var(--fonte-destaque);
    font-weight: 600;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #CB6CE6, #5079F2 );
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
}

.sociais button{
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, #CB6CE6, #5079F2 );
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.sociais button i{
    font-size: 20px;
    color: aliceblue;
    
}

picture img{
    width: 100%;
}





