@charset "UTF-8";

@font-face {
    font-family:'Roboto-Light';
    src: url('Fontes/Roboto-Light.ttf') format('opentype');
    font-weight: normal;
    
}

@font-face {
    font-family:'Roboto-Regular';
    src:url('Fontes/Roboto-Regular.ttf') format('opentype');
    font-weight: normal;
    
}


:root{

    --cor0: #CB6CE6;
    --cor1: #5079F2;
    --cor2: #F28585;
    --cor3: white;
    --cor4: black;

    --fonte-principal: Arial, Verdana, Helvetica, sans-serif;
    --fonte-padrao: Roboto-Light;
    --fonte-destaque: Roboto-Regular;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
header{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.logo-imagem{
    width: 50px;
    height: 50px;
   
    
}

.container-logo{
    display: flex;
    align-items: center;
}   

.logo-texto{
    margin-left: 20px;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
    
}

.menu a{
    font-size: 24px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}









